version: 2
updates:
  - package-ecosystem: "pub"
    directory: "/apps/driver"
    schedule:
      interval: "weekly"
  - package-ecosystem: "pip"
    directory: "/firmware_esp32"
    schedule:
      interval: "weekly"
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "monthly"
